.header {
  background-color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
}

.logoTitle {
  display: flex;
  align-items: center;
  gap: 8px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: rgb(17 24 39);
}

.formArea {
  display: flex;
  gap: 16px;
  align-items: flex-end;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 14px;
  font-weight: 500;
  color: rgb(55 65 81);
}

.selectInput {
  padding: 8px;
  border-width: 1px;
  border-color: rgb(209 213 219);
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.searchButton {
  padding: 8px 16px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  background-color: rgb(79 70 229);
  border: none;
  cursor: pointer;
}

.searchButton:hover:not(:disabled) {
  background-color: rgb(67 56 202);
}

.searchButton:disabled {
  background-color: rgb(156 163 175);
  cursor: not-allowed;
}

.formSection {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 24px;
}

.formGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 16px;
}

.inputField {
  padding: 8px;
  border-width: 1px;
  border-color: rgb(209 213 219);
  border-radius: 6px;
  width: 100%;
}

.submitButton {
  padding: 10px 20px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  transition-property: background-color;
  transition-duration: 150ms;
  background-color: rgb(22 163 74);
  border: none;
  cursor: pointer;
  grid-column: 1 / -1;
  margin-top: 16px;
}

.submitButton:hover:not(:disabled) {
  background-color: rgb(21 128 61);
}
